<html>

<head>

</head>

<body>
    <form id="loginform" method="POST" action="{% url "login" %}">
        {% csrf_token %}
        <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
        <input name="username" type="text">
        <input name="magic_text" type="password">
        <input type="submit">
    </form>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    grecaptcha.ready(function () {
        $('#loginform').submit(function (e) {
            var form = this;
            e.preventDefault();
            grecaptcha.execute('{{ site_key }}', { action: 'loginform' }).then(function (token) {
                $('#recaptcha').val(token);
                form.submit();
            });
        })
    });
</script>

</html>